.text-w16 {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 600;
  font-size: clamp(0.688rem, 0.625rem + 0.313vw, 1rem);
  line-height: clamp(0.688rem, 0.575rem + 0.563vw, 1.25rem);
}

.text-w18 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
  line-height: 160%;
}

.text-w20 {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 600;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: clamp(1rem, 0.887rem + 0.563vw, 1.563rem);
}

.text-w22 {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 600;
  font-size: clamp(1.063rem, 1rem + 0.313vw, 1.375rem);
  line-height: clamp(1.063rem, 0.925rem + 0.688vw, 1.75rem);
}

.text-w30 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.188rem, 1.05rem + 0.688vw, 1.875rem);
  line-height: clamp(1.188rem, 0.963rem + 1.125vw, 2.313rem);
}

.text-w52 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.875rem, 1.6rem + 1.375vw, 3.25rem);
  line-height: clamp(1.875rem, 1.462rem + 2.063vw, 3.938rem);
}

.text-w68 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(2.188rem, 1.775rem + 2.063vw, 4.25rem);
  line-height: clamp(2.188rem, 1.625rem + 2.813vw, 5rem);
  letter-spacing: -0.03em;
}

html:has(.modal.active) {
  overflow-y: hidden;
}

.conteiner {
  max-width: 1160px;
  width: 100%;
  margin: auto;
}

.substrate {
  background: radial-gradient(circle, hsla(0, 0%, 32%, 0.25), hsla(0, 0%, 32%, 0.25));
  border: 1px solid #515151;
}

.header {
  background-color: #000000;
}
.header .conteiner .nav {
  position: relative;
  z-index: 200;
  background-color: #000000;
  padding: 36px 44px;
  display: flex;
  justify-content: space-between;
}
@media (width <= 1000px) {
  .header .conteiner .nav {
    padding: 36px 10px;
  }
}
.header .conteiner .nav .nav__logo {
  position: relative;
  z-index: 200;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
.header .conteiner .nav .nav__logo--img {
  max-width: 153px;
  max-height: 60px;
  margin-right: 20px;
}
.header .conteiner .nav .nav__list {
  display: flex;
  justify-content: space-between;
  max-width: 517px;
  flex-grow: 1;
}
.header .conteiner .nav .list__item {
  align-self: center;
}
.header .conteiner .nav .list__item .item__link {
  color: #FFFFFF;
}
.header .conteiner .nav__phone {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  align-self: center;
  color: #FFFFFF;
  background: linear-gradient(to right, #1A82B7, #0030AB);
  border-radius: 99px;
  padding: 12px 20px;
}
.header .conteiner .nav__phone::before {
  margin-bottom: -10px;
  margin-right: 10px;
  content: url(../icons/telephone-icon.svg);
}
.header .conteiner .nav .humber__button {
  display: none;
  position: relative;
  height: 45px;
  width: 45px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
@media (width <= 950px) {
  .header .conteiner .nav .humber__button {
    display: block;
  }
}
.header .conteiner .nav .humber__button span {
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #000000;
  border-radius: 50%;
}
.header .conteiner .nav .humber__button span:nth-child(1) {
  top: 10px;
  left: 10px;
}
.header .conteiner .nav .humber__button span:nth-child(2) {
  top: 20px;
  left: 10px;
}
.header .conteiner .nav .humber__button span:nth-child(3) {
  top: 30px;
  left: 10px;
}
.header .conteiner .nav .humber__button span:nth-child(4) {
  top: 10px;
  left: 20px;
}
.header .conteiner .nav .humber__button span:nth-child(5) {
  top: 20px;
  left: 20px;
  background-color: coral;
}
.header .conteiner .nav .humber__button span:nth-child(6) {
  top: 30px;
  left: 20px;
}
.header .conteiner .nav .humber__button span:nth-child(7) {
  top: 10px;
  left: 30px;
}
.header .conteiner .nav .humber__button span:nth-child(8) {
  top: 20px;
  left: 30px;
}
.header .conteiner .nav .humber__button span:nth-child(9) {
  top: 30px;
  left: 30px;
}
.header .conteiner .nav .humber__button.active span:not(:nth-child(1)):not(:nth-child(2)) {
  display: none;
}
.header .conteiner .nav .humber__button.active span:nth-child(1),
.header .conteiner .nav .humber__button.active span:nth-child(2) {
  top: 47%;
  left: 34%;
  height: 3px;
  width: 15px;
  border-radius: 0;
}
.header .conteiner .nav .humber__button.active span:nth-child(1) {
  transform: rotate(45deg);
}
.header .conteiner .nav .humber__button.active span:nth-child(2) {
  transform: rotate(-45deg);
}
@media (width <= 950px) {
  .header .conteiner .nav :not(:first-child, :last-child) {
    display: none;
  }
}
.header .conteiner .modal {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  padding: 10px 0px 39px 0px;
  width: 100%;
  height: 100%;
  background-color: #0A0F0C;
  background-image: url(../images/backgraund-img1.svg);
  overflow: hidden;
  background-repeat: no-repeat;
}
.header .conteiner .modal:not(.active) {
  display: none;
}
@media (width >= 950px) {
  .header .conteiner .modal {
    display: none;
  }
}
@media (height <= 727px) {
  .header .conteiner .modal {
    overflow-y: scroll;
  }
}
.header .conteiner .modal .modal__inner {
  position: relative;
}
.header .conteiner .modal .modal__inner .modal__list {
  position: absolute;
  top: 171px;
  left: 10%;
  width: 87%;
}
.header .conteiner .modal .modal__inner .modal__list .list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .conteiner .modal .modal__inner .modal__list .list__item:not(:last-child) {
  padding-bottom: 10px;
}
.header .conteiner .modal .modal__inner .modal__list .list__item::after {
  content: url(../icons/link_icon.svg);
  margin-left: auto;
  padding-left: 72px;
}
@media (width <= 420px) {
  .header .conteiner .modal .modal__inner .modal__list .list__item::after {
    padding-left: 10px;
  }
}
.header .conteiner .modal .modal__inner .modal__list .list__item .item__link {
  color: #FFFFFF;
}
.header .conteiner .modal .modal__inner .contacts__list {
  position: absolute;
  top: 580px;
  left: 7%;
  display: grid;
  grid-template-columns: [telephone] auto [youTube] auto [telegram] auto [whatsapp] auto;
  grid-template-areas: "telephone telephone telephone" "youTube telegram whatsapp";
  gap: 20px;
}
.header .conteiner .modal .modal__inner .contacts__list .list__item .nav__phone {
  background: none;
  padding: 0;
}
.header .conteiner .modal .modal__inner .contacts__list .list__item--first {
  grid-area: telephone;
}
.header .conteiner .modal .modal__inner .contacts__list .list__item--second {
  grid-area: youTube;
}
.header .conteiner .modal .modal__inner .contacts__list .list__item--third {
  grid-area: telegram;
}
.header .conteiner .modal .modal__inner .contacts__list .list__item--fourth {
  grid-area: whatsapp;
}
.header .conteiner .modal .modal__inner .contacts__list .item__link--first {
  content: url(../icons/youTube_icon.svg);
}
.header .conteiner .modal .modal__inner .contacts__list .item__link--second {
  content: url(../icons/telegram_icon.svg);
}
.header .conteiner .modal .modal__inner .contacts__list .item__link--third {
  content: url(../icons/whatsApp_icon.svg);
}

.main .section {
  background-color: #000000;
}
.main .section--1 {
  background-image: url(../images/backgraund-img1.svg);
  background-repeat: no-repeat;
  overflow: hidden;
}
.main .section .conteiner--1 {
  display: flex;
}
.main .section .conteiner .conteiner__inner {
  margin-top: 130px;
  padding-left: 44px;
}
@media (width <= 950px) {
  .main .section .conteiner .conteiner__inner {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0px;
  }
}
.main .section .conteiner .conteiner__inner .title {
  color: #FFFFFF;
}
.main .section .conteiner .conteiner__inner .text {
  color: #A1A1A1;
  margin-top: 34px;
}
.main .section .conteiner .conteiner__inner .button {
  display: inline-flex;
  align-items: center;
  max-width: 260px;
  margin-top: 60px;
  padding: 24px 50px;
  background: linear-gradient(to right, #1A82B7, #0030AB);
  color: #FFFFFF;
  border-radius: 50px;
}
.main .section .conteiner .conteiner__inner .button::before {
  content: url(../icons/arrow.svg);
  margin-right: 11px;
}
.main .section .conteiner .conteiner__inner .link {
  display: inline-block;
  color: #1A82B7;
  text-decoration: underline;
  margin-left: 50px;
}
@media (width <= 950px) {
  .main .section .conteiner .conteiner__inner .link {
    margin-top: 30px;
    margin-left: 0;
  }
}
.main .section .conteiner .conteiner__inner {
  position: relative;
}
@media (width <= 950px) {
  .main .section .conteiner .conteiner__inner--second {
    display: none;
  }
}
.main .section .conteiner .conteiner__inner .img {
  max-width: 412px;
  max-height: 642px;
}
.main .section .conteiner .conteiner__inner .item {
  position: absolute;
  border-radius: 50%;
}
.main .section .conteiner .conteiner__inner .item--1 {
  padding: 20px;
  top: 177px;
  left: 10px;
  content: url(../icons/Geely_icon.svg);
}
.main .section .conteiner .conteiner__inner .item--2 {
  padding: 10px;
  bottom: 68px;
  left: 47px;
  content: url(../icons/CHANGAN_icon.svg);
}
.main .section .conteiner .conteiner__inner .item--3 {
  padding: 20px;
  top: 259px;
  right: -82px;
  content: url(../icons/ZEEKR_icon.svg);
}
.main .section .conteiner .conteiner__inner .item--4 {
  padding: 20px;
  top: 50px;
  right: 0px;
  content: url(../icons/LIXIANG_icon.svg);
}
.main .section--2 {
  padding: 273px 10px 10px 10px;
}
.main .section--2 .conteiner .title {
  text-align: center;
  color: #FFFFFF;
}
.main .section--2 .conteiner .positive__list {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}
@media (width <= 950px) {
  .main .section--2 .conteiner .positive__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
}
@media (width <= 520px) {
  .main .section--2 .conteiner .positive__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
}
.main .section--2 .conteiner .positive__list .substrate.item {
  padding: 40px;
  border-radius: 20px;
}
.main .section--2 .conteiner .positive__list .substrate.item .item__title {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.main .section--2 .conteiner .positive__list .substrate.item .item__title--1::after {
  content: url(../icons/user-hand-up_icon.svg);
  margin-left: auto;
  border-radius: 50%;
  background: radial-gradient(circle, hsla(0, 0%, 32%, 0.25), hsla(0, 0%, 32%, 0.25));
  border: 1px solid #515151;
  padding: 10px;
}
.main .section--2 .conteiner .positive__list .substrate.item .item__title--2::after {
  content: url(../icons/camera-svg_icon.svg);
  margin-left: auto;
  border-radius: 50%;
  background: radial-gradient(circle, hsla(0, 0%, 32%, 0.25), hsla(0, 0%, 32%, 0.25));
  border: 1px solid #515151;
  padding: 10px;
}
.main .section--2 .conteiner .positive__list .substrate.item .item__title--3::after {
  content: url(../icons/phone-calling-swg_icon.svg);
  margin-left: auto;
  border-radius: 50%;
  background: radial-gradient(circle, hsla(0, 0%, 32%, 0.25), hsla(0, 0%, 32%, 0.25));
  border: 1px solid #515151;
  padding: 10px;
}
.main .section--2 .conteiner .positive__list .substrate.item .item__title--4::after {
  content: url(../icons/case-round-svg_icon.svg);
  margin-left: auto;
  border-radius: 50%;
  background: radial-gradient(circle, hsla(0, 0%, 32%, 0.25), hsla(0, 0%, 32%, 0.25));
  border: 1px solid #515151;
  padding: 10px;
}
.main .section--2 .conteiner .positive__list .substrate.item .item__title--5::after {
  content: url(../icons/hand-heart-svg_icon.svg);
  margin-left: auto;
  border-radius: 50%;
  background: radial-gradient(circle, hsla(0, 0%, 32%, 0.25), hsla(0, 0%, 32%, 0.25));
  border: 1px solid #515151;
  padding: 10px;
}
.main .section--2 .conteiner .positive__list .substrate.item .item__title--6::after {
  content: url(../icons/plain-svg_icon.svg);
  margin-left: auto;
  border-radius: 50%;
  background: radial-gradient(circle, hsla(0, 0%, 32%, 0.25), hsla(0, 0%, 32%, 0.25));
  border: 1px solid #515151;
  padding: 10px;
}
.main .section--2 .conteiner .positive__list .substrate.item .text {
  color: #A1A1A1;
}/*# sourceMappingURL=main.css.map */